body {
  width: 540px;
}

.input-group-addon:first-child {
  background-color: #fff;
}

.navbar-header {
  padding-right: 8px;
  vertical-align: middle;
  line-height: 45px;
}

.nav-link-btn {
  color: #eee;
  -webkit-app-region: no-drag;
  font-size: 22px;
  margin-left: 18px;
}